.img-section3 {
  width: 100%;
  height: auto;
  cursor: pointer;
  background: ghostwhite;
  min-height: 170px;
}

.img-card-section3 {
  font-weight: bold;
  background: ghostwhite;
}

.img-col-section3:hover {
  transform: scale(0.95);
  transition: transform 0.5s ease;
  opacity: 0.8;
}
